@use 'variables' as var;

.button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: var.$common-textinbutton-color;
  background-color: #009866;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #ECECEC;
    color: #000;
    border: 1px solid #009866;
  }

  &:active {
    background-color: #3396ff;
    opacity: 0.5;
  }

  &:disabled {
    background-color: var.$common-background-color;
    cursor: not-allowed;
  }

  &-reverse {
    background-color: #ECECEC;
    color: #000;
    border: 1px solid #009866;

    &:hover {
      background-color: #009866;
      color: var.$common-textinbutton-color;
    }
  }

  &-normal {
    border-radius: 25px;
    width: 130px;
    height: 50px;
    box-sizing: border-box;
  }

  &-minimal {
    width: 100px;
    height: 30px;
    border-radius: 15px;
  }

  &-large {
    border-radius: 30px;
    width: 150px;
    height: 60px;
    box-sizing: border-box;
  }

}