@use 'variables' as var;

.logo {
  padding: 20px 30px;
  border-radius: 10px;
  background-color: var.$common-background-color;
  text-align: center;
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.2);
}

