@use 'variables' as var;

.searchBox {
  width: 100%;
  padding: 30px;
  background: var.$common-background-color;
  height: fit-content;
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.searchBox__filter {
  padding: 20px;
  border: 1px solid #000;
  border-radius: 10px;
}

.searchButton {
  margin: 20px calc((100% - 130px) / 2 ) 0;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.w-100 {
  width: 100%;
}