.text-block {
  border-radius: 16px;
  padding: 8px 16px;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.6rem;

  &.empty {
    border: 2px solid #333;
    background-color: transparent;
  }

  &.filled {
    background-color: #00A67E;
    color: white;
    border: none;
  }
}