.user-info-card {
  width: 100%;
  box-sizing: border-box;
  max-width: 64rem;
  border-radius: 9999px;
  border: 1px solid #000;
  padding: 0.5rem;

  .user-info-container {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .profile-image {
    margin-left: 0.5rem;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #4b4b4b;
  }

  .info-section {
    flex: 1;
    padding: 0 2%;

    .label {
      color: #6b7280;
    }
  }

  .year-section {
    padding: 0 2%;
  }

  .divider {
    height: 4rem;
    width: 1px;
    background-color: #000;
  }
}