/*
$name-of-variable: #FFFFFF;
// var.$name-of-variable
*/

$common-border-color: #ccc;
// var.$common-border-color
$common-background-color: #fff;
// var.$common-background-color
$common-textinbutton-color: #fff;
// var.$common-textinbutton-color
$alert-ok-themecolor-nothover: #77ce7a;
// var.$alert-ok-themecolor-nothover
$alert-ok-themecolor-hover: #79cb7d; 
// var.$alert-ok-themecolor-hover
$alert-cancel-themecolor-nothover: #8d150d;
// var.$alert-cancel-themecolor-nothover
$alert-cancel-themecolor-hover: #a81411;
// var.$alert-cancel-themecolor-hover